html {
    background-color: lightgrey;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

body {
    margin: 0 auto;
    width: 90%;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin: 0;
}

h5 {
    text-align: center;
    margin: 10px 0;
}

#num-dice {
    width: 36px;
}

#num-dice,
#num-sides,
#dice-name,
#modifier {
    margin-top: 10px;
    font-size: 1rem;
}

#results {
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.roll {
    font-size: 3.5rem;
    background-color: white;
    border: 1px solid black;
    padding: 3px 20px;
    border-radius: 5px;
    max-width: 80px;
    text-align: center;
}

#roll-dice,
#create-custom {
    font-size: 1.5rem;
    border-radius: 5px;
}

#form {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

#quick-roll {
    margin: 0 auto;
    width: 200px;
    font-size: 2rem;
}

#quick-attack-roll {
    font-size: 1.5rem;
    border-radius: 5px;
    width: 200px;
}

#attack-roll {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    height: 55px;
    width: 200px;
    margin: 10px auto;
    font-size: 3rem;
}

#reset-container {
    margin-top: 5px;
    text-align: center;
}

label {
    font-size: 1.5rem;
}

#custom-header {
    border-bottom: 1px solid black;
    margin-bottom: 0;
}

#custom-form,
#roll-list {
    display: inline-block;
    width: 50%;
}

#custom-form {
    float: left;
    width: 50%;
}

#custom-roll-name {
    text-decoration: underline;
}

.delete-custom-roll {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.custom-roll-button {
    font-size: 1.5rem;
    margin: 5px 0;
}

.saved-roll {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.saved-roll-attributes {
    width: 60%;
}

.saved-roll-attributes > p {
    font-size: 1.2rem;
    margin: 5px 0;
    width: 70%;
}

.custom-roll-box {
    margin: 10px 0;
}

@media only screen and (max-width: 920px) {
    #results {
        height: 160px;
    }

    #custom-form,
    #roll-list {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
    }

    .saved-roll {
        width: 100%;
    }

    .saved-roll-attributes {
        width: 60%;
    }

    /* .saved-roll-attributes > p {
        font-size: 1rem;
        margin: 5px 0;
    } */

    .roll {
        font-size: 3rem;
        border: 1px solid black;
        padding: 3px 20px;
        border-radius: 5px;
        max-width: 80px;
        text-align: center;
    }
}